body, html {
   height:100%;
   margin: 0;
   font: bold 11px / 20px "Helvetica Neue", Helvetica, sans-serif !important;
   color:#777;
 }

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

 }

.bgimg-1{
   background-image: url("static/images/003.jpg");
 min-height: 100%;
 }

.bgimg-2{
  background-image: url("static/images/000.jpg");
 min-height: 100%;
}

.bgimg-3{
 background-image: url("static/images/333.jpg");
min-height: 100%;
}

.caption{
 position: absolute;
 left: 0;
 top: 50%;
 width: 100%;
 text-align: center;
 color: #000;
}

.caption span.border {
    background-color: #transparent;
    color: #111;
    padding: 10px;
    font-size: 25px;
    letter-spacing: 10px;
  }

h3{
     letter-spacing: 5px;
     text-transform: uppercase;
     font-family: "Times New Roman", georgia,serif;font-variant: small-caps;
     color: #111;
   }

@media only screen and (max-device-width: 1024px) {
.bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}
